$a:50;
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:32/$a+rem;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
ul{
    list-style:none;
    margin:0;
    padding:0;
}
p{margin:0;padding:0;}
html{
    width: 100%;
    height: 100%;
    body{
        @extend html;
        margin:0;
        padding:168/$a+rem 0 100/$a+rem;
        box-sizing:border-box;
        header{
            width: 100%;
            height: 90/$a+rem;
            background:#148ad3;
            line-height:90/$a+rem;
            text-align:center;
            font-size:32/$a+rem;
            position:fixed;
            top:0;
            color:#fff;
        }
        & nav{
            width: 100%;
            height: 78/$a+rem;
            line-height:78/$a+rem;        
            position:fixed;
            top:90/$a+rem;
            font-size:32/$a+rem;
            padding:0 0.5rem;
            box-sizing:border-box;
        }
        & section{
           width: 100%;
           height: 100%;
           overflow:auto;
           background: #eee;
        }
        & footer{
            width: 100%;
            padding-top:4/$a+rem;
            box-sizing:border-box;
            height:100/$a+rem;
            border-top:1px solid #000;
            font-size:32/$a+rem;
            position:fixed;
            bottom:0;
        }
    }
}
header span{
    position:absolute;
    right:1rem;
    top:0;
}
nav li{
    float:left;
    margin-right:34/$a+rem;
}
nav li:nth-last-of-type(1){margin:0;}
nav span{
    display:block;
    width: 78/$a+rem;
    height: 100%;
    box-sizing:border-box;
    border-left: 1px solid #000;
    border-radius:8/$a+rem;
    position:absolute;
    right:0.5rem;
    background: #fff;
    text-align:center;
}
%tp{
     width: 227/$a+rem;
            height: 178/$a+rem;
            border-radius:10px;
            overflow:hidden;
            float:left;
}
label{
    display: block;
    font-size:28/$a+rem;
    padding-top:0.4rem;
    clear:both;
    div:nth-of-type(1){float:left;}
    & div:nth-of-type(2){float:right;}
    & span.iconfont{margin-left:0.5rem;}
}
section ul{
    width: 100%;
    li{
        border-bottom:1px solid #ccc;
        width: 100%;
        padding:0.5rem;
        box-sizing:border-box;
        overflow:hidden;
    }
    & li.one{
        p{
            font-size:36/$a+rem;
            line-height:48/$a+rem;
        }
        &>div{
            @extend %tp;
            margin-right:8/$a+rem;
            img{
                width: 100%;
                height: 100%;            
                border:none;
            }
        }  
    }
    & li.two{
        &>div{float:left;}
        &>div:nth-of-type(1){
            @extend %tp;
            margin-right:0.4rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
        &>div:nth-of-type(2){
            width: 453/$a+rem;
            p{
                font-size:36/$a+rem;
                padding-right:0.4rem;
                box-sizing: border-box;
            }
            &>div>div:nth-of-type(1){
                float:left;
            }
            &>div>div:nth-of-type(2){
                float:right;
            }
            span{
                font-size:28/$a+rem;
            }
        }
    }
    & li.three{
        p{
            font-size:36/$a+rem;
            line-height:48/$a+rem;
        }
        &>div{
            width: 700/$a+rem;
            height: 315/$a+rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
section li.one>div:nth-last-of-type(1){
    margin:0;
}
footer ul{
    width: 100%;
    li{
        width: 25%;
        float:left;
        text-align:center;
        p{
            font-size:28/$a+rem;
        }
    }
}
footer span.iconfont{
    font-size:48/$a+rem;       
}
