$a:50;
html{height: 100%;}
body{width: 100%;height: 100%;margin:0;}
.box{width: 100%;height: 100%;/*高房价的规划*/}
.room{width: 305/$a+rem;height: 303/$a+rem;margin-top:336/$a+rem;margin-left:212/$a+rem;}
p{width: 100%;text-align:center;font-size:40/$a+rem;}
.text{width: 353/$a+rem;height: 37/$a+rem;margin-left:190/$a+rem;margin-top:133/$a+rem;}